body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

button, textarea {
  font-family: inherit;
}

.app-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.topbar-logo-wrapper img {
  display: block;
}

.topbar-logo-wrapper {
  display: flex;
  align-items: center;
}

.topbar-logo-mobile {
  display: none;
}

@media (max-width: 768px) {
  .topbar-logo-wrapper {
    display: none;
  }

  .topbar-logo-mobile {
    display: flex;
    align-items: center;
  }

  .topbar-logo-mobile img {
    height: 28px;
    width: auto;
  }

  .app-root {
    padding-bottom: 55px;
  }
}

